body {
    background-color: #7eafe5;
    margin : 0;
}

body > header{
    background-color: #0c0a60;
    color: #ffffff;
}

body header ul{
    display: flex; /* or inline-flex */
    flex-wrap: nowrap;
    list-style-type: none;
    align-items: center;
}

body>header li{
    font-size: 1.3em;
    letter-spacing: 2px;
    font-family: 'Libre Franklin';
}


body>header li:first-child{
    border-right: 0.15rem solid white;
    padding-right: 2rem;
}

body>header li:first-child span{
    font-weight: bold;
}

body>header li:last-child{
    right: 0;
    position: absolute;
    display: flex;
}

body>header li:last-child p{
    align-self: center;
}

body header a:link, body header a:visited {
    color: white;
  }
  

body header ul li{
    margin-right: 3rem;

}

body header{
    display: flex; /* or inline-flex */
    flex-wrap: nowrap;
    justify-content: space-between;
}

#imginsta{
    width: 2rem;
    height: 2rem;
}
#imgface{
    width: 1.2rem;
    height: 2rem;
}
#imgyout{
    width: 2.5rem;
    height: 2.5rem;
}

main{
    background-color: #7eafe5;
    background-attachment: fixed; /*edit*/
}

main > header{
    background-color: #5774d8;
    color: white;
}

main header li{
    font-size: 1.5rem;
}

main header img{
    width: 5rem;
    height: 5rem;
}
section ul{
    list-style-type: none;
}


#imgaccont {
    width: 39px;
    height: 46px;
    margin: 20px;
}


#p2{
    text-align: center;
}


#rectangle_principale{
    background-color:#6e8eff;
    width: 80%;
    height:100%;
    filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
    border-radius:17px;
    padding:0px;
    margin-left: auto;
    margin-right: auto;
    border: solid #d9e1f6;
    margin-top: 2%;
}

#rectangle_principale>nav>ul{
    display: flex;
}

.rectangle_secondaire{
background-color:#bbd2f6;
width:25%;
filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
border-radius:12px;
margin-left: auto;
margin-right: auto;
margin-top: 5%;
text-align: center;

}

.rectangle_secondaire a img{
    height: 3.5rem;
    width: 3.5rem;
 
}

.rectangle_image{
    background-color: #0c0a60;
    height: 5rem;
    width: 5rem;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 39%;
    bottom: 80%;
    border-radius:24px;
    filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
    display: flex;
    justify-content: center;
    }
    
.rectangle_image a{
    display: flex;
    align-items: center;
}

.rectangle_secondaire h2{
    font-size: 230%;
}
.rectangle_secondaire h3{
    font-size: 150%;
}

h2, h3{
    font-family: 'Londrina Shadow';
    margin-top : 15%;
}