{% extends 'baseBS.html' %}
{% block content %}
<body>
    <section style="margin-bottom : 30em;">
        <div class="row" style="text-align: center;">
            <h1>Page Admin</h1>
        </div>
        <div class="container" style="margin-top: 15%;">
            <div class="row col d-flex justify-content-center mt-5">
                <div class="card col-lg-5 d-block text-center shadow mt-5 gestion shadow-lg p-3 mr-5 mb-5 rounded mb-4" id="gererLivres">
                    <div class=""> 
                      <img class="card-img-" src="{{url_for('static', filename='images/book.png')}}" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title fs-3">Gérer les livres</h5>
                    </div> <!-- end card-body-->
                </div> <!-- end card-->

                <div class="card col-lg-5 d-block text-center shadow mt-5 gestion shadow-lg p-3 mb-5 rounded mb-4" id="gererAuteurs">
                    <div class=""> 
                      <img class="card-img-" src="{{url_for('static', filename='images/auteurs.png')}}" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title fs-3">Gérer les auteurs</h5>
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div>
        </div>
    </section>
</body>
{% endblock %}

{% block scripts %}
<script>
    var row = null;
    var table = null;
    $(document).ready(function(){

        $("#gererLivres").on("click",function(){
            window.location = "{{url_for('Livres')}}"
        })

        $("#gererAuteurs").on("click",function(){
            window.location = "{{url_for('Auteurs')}}"
        })

    })
</script>
{% endblock %}